[submodule "repos/awsdocs/elastic-beanstalk-samples"]
	path = repos/awsdocs/elastic-beanstalk-samples
	url = https://github.com/awsdocs/elastic-beanstalk-samples.git
[submodule "repos/awsdocs/aws-doc-shared-content"]
	path = repos/awsdocs/aws-doc-shared-content
	url = https://github.com/awsdocs/aws-doc-shared-content.git
[submodule "repos/awsdocs/aws-java-developer-guide"]
	path = repos/awsdocs/aws-java-developer-guide
	url = https://github.com/awsdocs/aws-java-developer-guide.git
[submodule "repos/awsdocs/aws-xamarin-developer-guide"]
	path = repos/awsdocs/aws-xamarin-developer-guide
	url = https://github.com/awsdocs/aws-xamarin-developer-guide.git
[submodule "repos/awsdocs/aws-unity-developer-guide"]
	path = repos/awsdocs/aws-unity-developer-guide
	url = https://github.com/awsdocs/aws-unity-developer-guide.git
[submodule "repos/awsdocs/aws-ios-developer-guide"]
	path = repos/awsdocs/aws-ios-developer-guide
	url = https://github.com/awsdocs/aws-ios-developer-guide.git
[submodule "repos/awsdocs/aws-android-developer-guide"]
	path = repos/awsdocs/aws-android-developer-guide
	url = https://github.com/awsdocs/aws-android-developer-guide.git
[submodule "repos/awsdocs/aws-toolkit-eclipse-user-guide"]
	path = repos/awsdocs/aws-toolkit-eclipse-user-guide
	url = https://github.com/awsdocs/aws-toolkit-eclipse-user-guide.git
[submodule "repos/awsdocs/aws-net-developer-guide"]
	path = repos/awsdocs/aws-net-developer-guide
	url = https://github.com/awsdocs/aws-net-developer-guide.git
[submodule "repos/awsdocs/aws-toolkit-visual-studio-user-guide"]
	path = repos/awsdocs/aws-toolkit-visual-studio-user-guide
	url = https://github.com/awsdocs/aws-toolkit-visual-studio-user-guide.git
[submodule "repos/awsdocs/aws-powershell-user-guide"]
	path = repos/awsdocs/aws-powershell-user-guide
	url = https://github.com/awsdocs/aws-powershell-user-guide.git
[submodule "repos/awsdocs/aws-doc-sdk-examples"]
	path = repos/awsdocs/aws-doc-sdk-examples
	url = https://github.com/awsdocs/aws-doc-sdk-examples.git
[submodule "repos/awsdocs/aws-cpp-developer-guide"]
	path = repos/awsdocs/aws-cpp-developer-guide
	url = https://github.com/awsdocs/aws-cpp-developer-guide.git
[submodule "repos/awsdocs/aws-go-developer-guide"]
	path = repos/awsdocs/aws-go-developer-guide
	url = https://github.com/awsdocs/aws-go-developer-guide.git
[submodule "repos/awsdocs/aws-ruby-developer-guide"]
	path = repos/awsdocs/aws-ruby-developer-guide
	url = https://github.com/awsdocs/aws-ruby-developer-guide.git
[submodule "repos/awsdocs/aws-example-apps"]
	path = repos/awsdocs/aws-example-apps
	url = https://github.com/awsdocs/aws-example-apps.git
[submodule "repos/awsdocs/aws-java-developer-guide-v2"]
	path = repos/awsdocs/aws-java-developer-guide-v2
	url = https://github.com/awsdocs/aws-java-developer-guide-v2.git
[submodule "repos/awsdocs/aws-mobile-developer-guide"]
	path = repos/awsdocs/aws-mobile-developer-guide
	url = https://github.com/awsdocs/aws-mobile-developer-guide.git
[submodule "repos/awsdocs/aws-kms-developer-guide"]
	path = repos/awsdocs/aws-kms-developer-guide
	url = https://github.com/awsdocs/aws-kms-developer-guide.git
[submodule "repos/awsdocs/aws-waf-and-shield-advanced-developer-guide"]
	path = repos/awsdocs/aws-waf-and-shield-advanced-developer-guide
	url = https://github.com/awsdocs/aws-waf-and-shield-advanced-developer-guide.git
[submodule "repos/awsdocs/aws-encryption-sdk-docs"]
	path = repos/awsdocs/aws-encryption-sdk-docs
	url = https://github.com/awsdocs/aws-encryption-sdk-docs.git
[submodule "repos/awsdocs/aws-cloudhsm-user-guide"]
	path = repos/awsdocs/aws-cloudhsm-user-guide
	url = https://github.com/awsdocs/aws-cloudhsm-user-guide.git
[submodule "repos/awsdocs/aws-organizations-docs"]
	path = repos/awsdocs/aws-organizations-docs
	url = https://github.com/awsdocs/aws-organizations-docs.git
